variable

In [ ]:
age = 22
print("I am "+ str(age) +" years old")
print("I am", age ,"years old")
print(f"I am {age} years old")

I am 22 years old
I am 22 years old
I am 22 years old

In [ ]:
x,y,z = 1,2,3
print(x)
print(y)
print(z)

1
2
3

Data Types

1)Integers (whole numbers)

In [ ]:
age = 40
weight = 60
height = 180
print(f"The persons is {age} years old")
print(f"the persons weight is {weight}Kg")
print(f"the presons height is {height}cm")
print(f"I am {age} years of age with weight of {weight}kg and height of {height}cm")

The persons is 40 years old
the persons weight is 60Kg
the presons height is 180cm
I am 40 years of age with weight of 60kg and height of 180cm

2)Float(points)

In [ ]:
height = 5.9
distance = 3.5
prize = 100
print(f"A man of {height} feet is running a marathon of about {distance}km to win ${prize}")

A man of 5.9 feet is running a marathon of about 3.5km to win $100

3)String (anything within "..." is considered string)

In [ ]:
name = "Broman"
food = "pizza"
email = "bro.man123@gmail.com"
print(f"guy named {name} ordered a {food} with his email called {email}")

guy named Broman ordered a pizza with his email called bro.man123@gmail.com

4)Bollean (true or false)

In [ ]:
online = True
for_sale = False
running = True
print(f"Are u online?: {online}")
print(f"Is this item for sale?: {for_sale}")
print(f"Is the server online?: {running}")

#if running:
  #print("the game is running")
#else:
  #print("the game is over")

Are u online?: True
Is this item for sale?: False
Is the server online?: True

Type casting

Explicit

In [ ]:
name = ""
age = 20
gpa = 2.33
student = True

name = bool(name)
print(name)

False

Implicit

In [ ]:
x=3
y=2.1

X=x+y
print(X)

5.1

operatons and expressions

if else

In [ ]:
age = int(input("Enter any number: "))

if age >=20:
  print("you are now old")
elif age <=0:
  print("your are not even born yet")
else:
  print("you are still young")

Enter any number: -1
your are not even born yet

In [ ]:
response = input("If customer wants food?(Y/N): ")
if response == "Y":
  print("Can your order")
else:
  print("get lost")

If customer wants food?(Y/N): Y
Can your order

In [ ]:
name = input("Enter your name: ")
if name == "":
  print("you didnt type your name")
elif name ==(str(name)):
  print("No cant be in names")
else:
  print("You hane a good name")

Enter your name: 123
No cant be in names

In [ ]:
for_sale = False
if for_sale:
  print("this item is for sale")
else:
  print("this item is not for sale")

this item is for sale

Loop

In [ ]:
name = input("enter your name: ")
while name == "":
  print("you havent entered your name")
  name = input("enter your name: ")
print(f"{name}")

enter your name: name
name

In [8]:
age = int(input("enter your age: "))
while age <=0:
  print("You are not born yet")
  age = int(input("enter your age:"))
print(f"Your age is {age} years old")

enter your age: 0
You are not born yet
enter your age:1
Your age is 1 years old

Functions

In [24]:
def happy_birthday(name, age):
  print(f"happy birthday {name}")
  print(f"Party chayo {age} ko budo")
  print("kaile dinchas party")
  print("Happy birthday to you")
happy_birthday("atik", 22)
happy_birthday("broman", 22)

happy birthday atik
Party chayo 22 ko budo
kaile dinchas party
Happy birthday to you
happy birthday broman
Party chayo 22 ko budo
kaile dinchas party
Happy birthday to you

In [27]:
def display_invoice(username, amount, due_date):
  print(f"hello {username}")
  print(f"Your total amount is Rs.{amount}")
  print(f"Your dead line is on {due_date}")

display_invoice("aeek", 200000000, "12/12/2025")

hello aeek
Your total amount is Rs.200000000
Your dead line is on 12/12/2025

In [31]:
def add(x,y):
  z = x + y
  return z

def subtract(x,y):
  z = x - y
  return z

print(add(2, 3))

5

In [32]:
def create_name(first, last):
  first = first.capitalize()
  last = last.capitalize()
  return first + " " + last

full_name = create_name("satik", "sahukhala")
print(full_name)

Satik Sahukhala

Lambda Functions

In [67]:
a = lambda x: x*3
print(a(3))

9

In [115]:
a = int(input("enter any number: "))
b = lambda b: a*2
print(b(a))

enter any number: 2
4

In [105]:
a = int(input("enter any number:"))
b = int(input("enter any number: "))
c = lambda a, b: a if a < b else b
print(c(a, b))

enter any number:2
enter any number: 3
2